@import "./src/assets/index";
.header {
  @include flexStyle;
  height: auto;
  .tittle {
    font-size: $fs-large;
    font-weight: 500;
  }
}
@media (max-width: 450px) {
  .header {
    .tittle {
      font-size: $fs-big;
    }
  }
}