@import "./src/assets/mixins";
@import "./src/assets/vars";
.header {
  @include flexStyle();
  height: auto;
  max-height: 7rem;
  padding: 1rem 4rem;
  & img {
    width: 6rem;
    height: 4rem;
    object-fit: contain;
    padding: 0;
  }
  .catalogLink {
    @include linkStyle();
    &:hover {
      cursor: pointer;
    }
  }
  & button {
    @include btnCatalogStyle();
    position: relative;
    cursor: pointer;
  }
  & span {
    margin-left: 1.3rem;
    padding: 0.2rem 0.5rem;
  }
  & span:before {
    content: '\2261';
    position: absolute;
    left: 0.8rem;
    top: 0.05rem;
    font-size: 1.3rem;
  }
  .bg_yellow {
    background-color: $yellow;
  }
}
@media (max-width: 1250px) {
  .header {
    padding: 16px 32px;
  }
}
@media (max-width: 580px) {
  .padding {
    padding: 16px;
  }
}