@import "./src/assets/mixins";
@import "./src/assets/vars";
.person {
  display: flex;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin: 1rem;
  overflow: hidden;
  .personImg {
    width: 40%;
    max-width: 32rem;
    max-height: 40rem;
    & img {
      margin: 0 0 0 3rem;
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 0;
    }
  }
  .personName{
    display: block;
    font-size: $fs-large;
    color: $color-main;
  }

  .personInfo {
    width: 45%;
    padding: 0.5rem 0 0.5rem 7rem;
    text-align: left;
    & p {
      display: block;
      width: 70%;
      margin: 2rem 0 0 1rem;
      font-size: $fs-main;
      color: $color-grey;
      line-height: $lh-main;
    }
    & span {
      margin: 2rem 0 0 1rem;
      color: $color-main;
    }
    .personStatus {
      @include statusStyle();
    }
    .personDate {
      @include dateStyle();
      font-size: $fs-main;
    }
  }
}


