@import "vars";

@mixin borderStyle() {
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 2px $color-boxShadow;
}

@mixin statusStyle() {
  width: max-content;
  padding: 0.5rem 1rem;
  color: $color-status;
  background-color: $color-bgStatus;
  font-size: $fs-small;
  line-height: 1rem;
}

@mixin dateStyle() {
  font-size: $fs-small;
  color: $color-grey;
}