@import "vars";
@mixin borderStyle() {
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.3rem 0.3rem $color-boxShadow;
}
@mixin btnCatalogStyle() {
  width: 7rem;
  height: 1.9rem;
  font-size: $fs-main;
  color: $color-main;
  border: 0.15rem solid $yellow;
  border-radius: 0.4rem;
  background-color: $white;
}
@mixin statusStyle() {
  width: max-content;
  padding: 0.5rem 1rem;
  color: $color-status;
  background-color: $color-bgStatus;
  font-size: $fs-small;
  line-height: 1rem;
}
@mixin dateStyle() {
  font-size: $fs-small;
  color: $grey;
}
@mixin linkStyle() {
  color: inherit;
  text-decoration: none;
}
@mixin hoverCardStyle() {
  box-shadow: 0 0.2rem 0.3rem 0.3rem $color-hoverBoxShadow;
}

@mixin flexStyle(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}