$ff-main: 'Roboto', sans-serif;
$color-main: #2D2D2D;
$color-boxShadow: rgba(0, 0, 0, 0.1);
$color-hoverBoxShadow: rgba(0, 0, 0, 0.5);
$color-yellow: #F1B926;
$color-grey: #B6C2B1;
$color-white: #FFFFFF;
$color-status: #51E245;
$color-bgStatus: rgba(48, 255, 30, 0.2);
$fs-main: 1rem;
$fs-large: 2rem;
$fs-middle: 0.9rem;
$fs-small: 0.8rem;
$lh-main: 1.5rem;
