@import "styles/vars";

body {
  margin: 0;
  color: $color-main;
  font-family: $ff-main;
  font-size: $fs-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

