@import "../../../assets/index.scss";
.cardPerPageBtn, currentOptionPerPage {
  width: 2rem;
  height: 2rem;
  margin: 0 0.1rem;
  padding: 0.2rem 0.2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: $bg-fc;
  color: $black;
  cursor: pointer;
}

.currentOptionPerPage{
  @include currentOption;
}